
<div class="header_hero">
  <div class="single_hero bg_cover d-flex align-items-center justify-content-center "
    style="background-image: url('../../../assets/images/mason-field-k28_h5LdyVs-unsplash.jpg');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          <div class="hero_content text-center">
          </div> <!-- hero content -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- single hero -->
</div> <!-- header hero -->


<app-explorenerby></app-explorenerby>
<app-live-any-where></app-live-any-where>
<app-discover-things></app-discover-things>
<app-footer></app-footer>
