
<div class="container" id="c11">
  <h1>{{Houses?.title}}</h1>
  <div class="star-review mb-3 d-flex">
    <div class="inner-star d-flex">
        <i class="fas fa-star"></i>
        <p>4.33 &nbsp; </p>
        <p class="star-p"> (3 reviews)</p>
        <p> &nbsp; . &nbsp; </p>
        <p class="star-p">{{Houses?.houseStreet}}, {{Houses?.houseCity}}, {{Houses?.houseCountry}}</p>
    </div>
</div>

  <div class="row  mx-auto " style="margin-bottom: 50px;">
    <p-galleria class="col" [value]="itemshouse" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '1000px'}" [numVisible]="4">
      <ng-template pTemplate="item" let-item>
          <img src="http://localhost:42138/{{item?.housePhotos}}"  style="width: 1000px; height: 500px; " />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
          <div class="p-grid p-nogutter p-justify-center mx-4">
              <img src="http://localhost:42138/{{item?.housePhotos}}"  style="width: auto; height: 100px; "   />
          </div>
      </ng-template>
    </p-galleria>
  </div>

  <div class="row ">
      <div class="col-8 ">
          <div class=" row mt-3 d-flex justify-content-between  ">
              <div class="col ">
                  <h1>
                      Entire chalet hosted by {{ids?.personFirstName}}
                  </h1>
                  <h3>
                      7 guests · 2 bedrooms · 3 beds · 2 baths
                  </h3>
              </div>
              <div class="col ">

              </div>
              <hr>
          </div>
          <div>

              <div>
                  <h5>
                    {{ids?.personFirstName}} is a Superhost
                  </h5>
                  <p>
                      Superhosts are experienced, highly rated hosts who are committed to providing great stays
                      for guests.
                  </p>
              </div>

              <div>
                  <h5>

                      Great check-in experience
                  </h5>
                  <p>
                      100% of recent guests gave the check-in process a 5-star rating.
                  </p>
              </div>

              <div>
                  <h5>
                      Pool
                  </h5>
                  <p>
                      Guests often search for this popular amenity
                  </p>
              </div>
              <hr>

              <div>
                  <h3>
                      All about {{ids?.personFirstName}}’s place
                  </h3>

                  <p>
                      {{Houses?.houseDescription}}
                  </p>
              </div>

              <hr>

              <div class="row">
                  <h3>
                      Places for sleeping
                  </h3>
                  <div class="card border-secondary mb-3 col-6"
                      style="max-width: 14rem; max-height: 10rem; border-radius: 15px;">

                      <div class="card-body ">
                          <h5 class="card-title"> <i class="fas fa-bed"></i></h5>
                          <p class="card-text"> Bedroom 1 <br> 1 double bed</p>
                      </div>
                  </div>
                  <div class="card border-secondary mb-3 mx-3 col-6"
                      style="max-width: 14rem; max-height: 10rem; border-radius: 15px;">

                      <div class="card-body ">
                          <h5 class="card-title"> <i class="fas fa-bed"></i> <i class="fas fa-bed"></i></h5>
                          <p class="card-text"> Bedroom 2 <br> 2 single bed</p>
                      </div>
                  </div>
              </div>

              <hr>

              <div class="row">
                  <h3>
                      What this place offers
                  </h3>
                  <div class="col-6">
                      <i class="fas fa-wifi p-1 mt-1 mx-3"></i> WIFI
                      <br>

                      <i class="fas fa-swimming-pool p-1 mt-2 mx-3"></i> Swimming Pool
                      <br>

                      <i class="fas fa-tv  p-1 mt-2 mx-3"></i> TV
                  </div>
                  <div class="col-6">

                      <i class="fas fa-utensils p-1 mt-2 mx-3"></i> Kitchen
                      <br>

                      <i class="fas fa-paw p-1 mt-2 mx-3"></i> Pets Allowed
                      <br>
                      <i class="fas fa-parking p-1 mt-2 mx-3"></i> Parking
                  </div>
                  <button type="button" class="btn btn-light mt-4"
                      style="border-color: black; border-style: solid; width: 270px; ">Show All 44
                      Amenities</button>
              </div>

              <hr>



          </div>
      </div>
      <div class="col-4 mydiv">
        <div class="myform d-flex flex-column">
            <div class="price d-flex justify-content-between">
                <p> {{Houses?.housePrice}} / night</p>
                <p>4.33(3 reviews)</p>
            </div>
            <div class=" check-container  ">
                <div class="row-cols-2 row">
                <div class="col mycol mycol-l">
                    <p class="check">CHECK-IN</p>
                    <p class="check-l">  <input class="form-control" [(ngModel)]="st" type="date"> </p>
                    </div>
                <div class="col mycol mycol-r">
                    <p class="check">CHECKOUT</p>
                    <p class="check-l">  <input class="form-control" [(ngModel)]="ed"  type="date" ></p>
                    </div>
                <div class="col-12 text-center ">
                    <p class="guests my-auto"> <i class="fas fa-dollar-sign  " style="font-size: 17px; color: black !important;"></i>
                      CASH ON CHECK IN
                     </p>
                </div>
                </div>
            </div>
            <button type="submit" (click)=" Save()"  class="btn mt-3 mybtn">Check availability</button>
        </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
